<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <springProfile name="default | local | test">
        <appender name="CONSOLE_TEXT" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(%5p) %clr([%15.15t]){magenta} %clr(%-40.40logger{39}){cyan} : %m%n</pattern>
            </encoder>
        </appender>

        <root level="INFO">
            <appender-ref ref="CONSOLE_TEXT" />
        </root>
    </springProfile>

    <springProfile name="prod">
        <appender name="CONSOLE_JSON" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
                <providers>
                    <pattern>
                        <pattern>
                            {
                            "message": "%m",
                            "logger_name": "%logger{39}",
                            "thread_name": "%t",
                            "severity": "%p",
                            "stack_trace": "%xEx"
                            }
                        </pattern>
                    </pattern>
                </providers>
            </encoder>
        </appender>

        <logger name="io.micrometer.stackdriver" level="ERROR" />

        <root level="INFO">
            <appender-ref ref="CONSOLE_JSON" />
        </root>
    </springProfile>

</configuration>